<div class="container grid flex-column mt-4">
  <form [formGroup]="loginForm" class="grid flex-column align-content-center flex-column">
    <div class="grid justify-content-center mt-2">
      <input formControlName="username" pInputText type="text" placeholder="username">
    </div>
    <div class="grid justify-content-center mt-2">
      <input formControlName="password" pPassword type="password" placeholder="password">
    </div>
    <div class="grid justify-content-center mt-2">
      <p-button label="login" (onClick)="login()"></p-button>
    </div>
  </form>
</div>
