<p-table [value]="users" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Company</th>
      <th>Permission</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td *ngIf="user.company">{{user.company.name}}</td>
      <td *ngIf="!user.company">None</td>
      <td *ngIf="user.permissions[0]">{{user.permissions[0].name}}</td>
      <td *ngIf="!user.permissions[0]">None</td>
      <td><p-button label="Edit" (onClick)="editUser(user)"></p-button></td>
      <td *ngIf="isAllowedToDelete(user)"><button pButton type="button" class="p-button-danger" label="Delete" (click)="deleteUser(user)"></button></td>
    </tr>
  </ng-template>
</p-table>
<p-dialog header="Edit User" [(visible)]="showUserEditDialog" [modal]="true" [style]="{'height': '80vh', 'width': '20vw'}">
  <app-user-save></app-user-save>
</p-dialog>
